<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>🦆 Cuack livecoding.</title>
	<link rel="stylesheet" href="css/codemirror.css">
	<link rel="stylesheet" href="css/theme/midnight.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body style="background:#0F192A">
	<div class="console cm-s-midnight">console</div>
	<script src="js/lib/codemirror.js"></script>
	<script src="js/mode/javascript/javascript.js"></script>
	<script src="js/lib/javascript-hint.js"></script>
	<script src="js/lib/Player.js"></script>
	<script src="js/lib/SampleDef.js"></script>
	<script src="js/lib/SynthDef.js"></script>
	<script src="js/lib/livetag.js"></script>
	<script src="js/functions.js"></script>
</body>
</html>
