.CodeMirror{
	height: 100%;
	position: absolute;
	width:100%;
	font-size:20px;
}

.console{
	font-family: monospace;
	font-size:14px;
	position: absolute;
	width:100%;
	height:2em;
	z-index:6;
	bottom:0;
	color:white;
	left:50px;
}
